{% for edu in educations %}
<div class="entry-header">
    <div> {{ edu.degree }} | {{ edu.school }}</div>
    <div> {{ edu.start }} - {{ edu.end }} </div>
</div>
<ul>
    <li>
        Courses: {{ ', '.join(edu.courses) }}
    </li>
</ul>
{% endfor %}
