{% for pos in positions %}
<div class="entry">
    <div class="entry-header">
        <div>{{ pos.title }} | {{ pos.company }}</div>
        <div>{{ pos.period }}</div>
    </div>

    {% if pos.bullets %}
    <ul>
        {% for bullet in pos.bullets %}
        <li>{{ bullet }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endfor %}
