{% for pos in positions %}
<div class="entry">
    <div class="entry-header">
        <div>{{ pos.title }} | {{ pos.company }}</div>
        <div>{{ pos.start }} - {{ pos.end }} </div>
    </div>

    {% for task in pos.tasks %}

    {% if task.name %}
    <div class="entry-sub">
        {{ task.name }}
    </div>
    {% endif %}

    <ul>
        {% for bullet in task.bullets %}
        <li>{{ bullet }}</li>
        {% endfor %}
    </ul>

    {% endfor %}
</div>
{% endfor %}
