{% for project in projects %}
<div class="entry">
    <div class="entry-header">
        <div>
            <div class="fa-brands fa-github"></div>
            <a href=" {{ project.github }} ">

                {{ project.title }}

            </a>
        </div>
        <div>
            {% for badge in project.badges %}
            {{ badge.qualifier }}
            <i class="{{ badge.icon }}"></i>
            {% endfor %}

            {% if project.stars %}
            {{ project.stars }}
            <i class="fa fa-star"></i>
            {% endif %}
            {% if project.forks %}
            {{ project.forks }}
            <i class="fa-solid fa-code-fork"></i>
            {% endif %}
        </div>
    </div>
    <div class="entry-sub">
        {{ project.subtitle }} [{{ project.langs }}]
    </div>

    {% if project.bullets %}
    <ul>
        {% for bullet in project.bullets %}
        <li>{{ bullet }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endfor %}
