<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Ren-Chu Wang - Resume</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <!-- Bootstrap 5 -->
    <link rel="stylesheet" href="resume.css" />

</head>

<body>
    <div class="resume">

        <!-- HEADER -->
        <div class="name"> {{ name }}</div>
        <div class="subtitle"> Build: {{ build_date }} </div>
        {% for section in sections %}
            {{ section.render() }}
        {% endfor %}
    </div>
</body>

</html>
