<!-- {{ section.name }} -->

{% if section.title %}
<div class="section-title"> {{ section.title }} </div>
{% endif %}

{{ section.body }}

{% if section.injection %}
<span class="invisible">
    {{ section.injection }}
</span>
{% endif %}
